@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 28px;
}

button {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 28px;
  margin-top: 10px;
}

input {
  display: flex;
  flex-direction: column;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 28px;
  padding-top: 10px;
}

div {
  display: flex;
  justify-self: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 25%;
  width: 30%;
  background-color: rgb(228, 228, 228);
}
